body {
    margin: 0;
  }
  .wrapper {
    max-width: 1000px;
    margin: auto;
  }
  .header {
    background: #161b25;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profession {
    height: 50px;
    width: 300px;
    background: #2e323b;
    align-items: center;
    padding: 10px 0px 0px 30px;
    font-family: "Poppins", sans-serif;
  }
  
  .foto {
    width: 300px;
    height: 400px;
  }
  
  .left_header {
    width: 300px;
    height: 400px;
    margin-right: 100px;
  }
  
  .name {
    width: 300px;
    height: auto;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    margin: 0;
  }
  
  .header_right {
    font-family: "Poppins", sans-serif;
    color: aliceblue;
  }
  
  .main {
    background: hsl(0, 0%, 85%);
    width: 100%;
    height: 650px;
    font-family: "Poppins", sans-serif;
    color: #2e323b;
    display: flex;
    justify-content: center;
  }
  
  .main__left {
    margin-right: 150px;
  }
  
  .title_school {
    font-family: "Lato", sans-serif;
    color: #555555;
  }
  
  .prezent {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
  }
  
  .company_one {
    padding-right: 100px;
  }
  
  .hobbies {
    font-family: "Poppins", sans-serif;
    color: #2e323b;
  }
  
  .title_hobbies {
    font-family: "Lato", sans-serif;
  }
  
  .project {
    font-family: "Poppins", sans-serif;
    color: #2e323b;
  }
  
  .title_project {
    font-family: "Lato", sans-serif;
  
    text-decoration: none;
    font-size: 17px;
  }
  
  a {
    text-decoration: none;
    color: #555555;
  }
  
  .list6a {
    padding: 0;
    list-style: none;
  }
  .list6a li {
    padding: 6px;
  }
  .list6a li:before {
    padding-right: 10px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #f8a217;
    content: "\2606";
    transition-duration: 0.5s;
  }
  .list6a li:hover:before {
    color: #f7fb1ff5;
    content: "\2605";
  }
  
  .title_skills {
    display: flex;
    justify-content: space-around;
    font-family: "Lato", sans-serif;
    margin-right: 200px;
  }
  
  .footer {
    background: hsl(0, 0%, 90%);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .image_git {
    width: 80px;
    height: 90px;
  }
  
  .yers {
    font-family: "Poppins", sans-serif;
    color: rgb(1, 9, 16);
  }
  
  .rs_logo {
    width: 80px;
    height: 90px;
  }
  